{% extends "meds/_bootstrap.html" %}

{% load bootstrap3 %}

{% block bootstrap3_content %}
    <div class="container">
        {% include "meds/_navigation.html" %}
        <div class="row">
            <div class="col-md-3">
                {% include "meds/_sidebar.html" %}
            </div>
            <div class="col-md-9">
                <div class="content-col9">
                <h1>{% block title %}(no title){% endblock %}</h1>

                {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

                {% block content %}(no content){% endblock %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>